<h4>Agregar integrante</h4>

    <form class="row" (ngSubmit)="emitCharacter()">

      <input
        type="text"
        [(ngModel)]="character.name"
        name="name"
        class="form-control mx-1 my-1"
        placeholder="Nombre"
        >

      <input
        type="number"
        [(ngModel)]="character.bounty"
        name="bounty"
        class="form-control mx-1 my-1"
        placeholder="Recompensa" >

      <button type="submit" class="btn btn-primary mx-1 my-1" >
        Agregar
      </button>

     <!-- <pre>{{character | json}} </pre> -->
    </form>
